.skyboxHolder{
  --skyboxSize: 1000px;
  transform-style:preserve-3d;
  position: absolute;
  width:0px;
  height:0px;
  left:50%;
  top:50%;
  transform: perspective(var(--fov)) translateZ(calc(var(--fov) - var(--skyboxSize)/2));
  transition: transform 1s;
  .skybox{
    position:absolute;
    left:calc(var(--skyboxSize)/-2);
    top:calc(var(--skyboxSize)/-2);
    --width:var(--skyboxSize);
    --height:var(--skyboxSize);
    --depth:var(--skyboxSize);
    transform-origin: 50% 50% calc(var(--skyboxSize)/2);
    transform: rotateX(90deg) var(--world-rotation);
    background-color:blue;
    background-image: url("../assets/images/sky/night/face_ny_bottom.png");
    background-size: 100% 100%;
    div{
      background-size: 100% 100%;
    }
    div:nth-child(1){
      background-image: url("../assets/images/sky/night/face_nz_back.png")
    }
    div:nth-child(2){
      background-image: url("../assets/images/sky/night/face_pz_front.png")
    }
    div:nth-child(3){
      background-image: url("../assets/images/sky/night/face_px_right.png")
    }
    div:nth-child(4){
      background-image: url("../assets/images/sky/night/face_nx_left.png")
    }
    div:nth-child(5){
      background-image: url("../assets/images/sky/night/face_py_top.png")
    }
    div:nth-child(6){
      background-image: url("../assets/images/sky/night/face_ny_bottom.png")
    }
  }
  .floor{
    left:calc(var(--skyboxSize)/-2);
    top:0px;
    background-image:url("../assets/images/wood.jpg");
    position:absolute;
    width:var(--skyboxSize);
    height:var(--skyboxSize);
    transform: rotateX(89deg) var(--world-rotation);
    transform-origin: top left;
  }
}
