body{
  overflow: hidden;
}
.world-content {
  position: relative;
  width: 0px;
  height: 0px;

  div {
    position: absolute;
    background-color: black;
  }
}

.world {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.ground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--mapSizeXPx);
  height: var(--mapSizeYPx);
  background-image: url("../assets/images/wood.jpg");
}


.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
