.world-content {
  position: relative;
  width: 0px;
  height: 0px;

  div {
    position: absolute;
    background-color: black;
  }
}

.world {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.world-inner {
  position: absolute;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform:  perspective(40cm) translateY(50px) translateZ(40cm) rotateX(80deg) ;
  transition: transform 2s;
  top: 50%;
  left: 50%;
  width:0px;
  height:0px;
}
.ground {
  position: absolute;
  top: -1500px;
  left: -1500px;
  z-index: -100;
  width: 3000px;
  height: 3000px;
  background-image: url("../assets/images/wood.jpg");
}


.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
