.center{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.threeD{
        margin-top: 100px;
        margin-left: 100px;
        transform-style: preserve-3d;
        transform: perspective(100cm);
}

.threeD div{
        transform-style: preserve-3d;
        background-image: url("../assets/images/debug.png");
        background-size: 100%;
}

/*front*/
.cubed{
        height:var(--height) !important;
        width: var(--width) !important;
        background-image: var(--img);
        background-color: var(--color);
        transform-style: preserve-3d;
        /*(in)SANE DEFAULTS*/
        --width: 100px;
        --height: 100px;
        --depth: 100px;
        --img: none;
        --color: #000;
        --flipY: 0deg;
        /*
        DEBUG
        */
        /* 
        transform: perspective(100cm) rotate3D(1, 0, 1, 45deg);
        animation-name: debug;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-timing-function: linear;
*/
}


/* top */
.cubed > div:nth-child(1){
        position: absolute;
        top: calc(var(--depth) / 2);
        left: 50%;
        width: var(--width);
        height: var(--depth);
        transform: translate(-50%, -50%) rotateX(90deg) rotate(180deg) translate(0, -100%);
        transform-origin: 50% 0% 0;
}

/* bottom */
.cubed > div:nth-child(2){
        position: absolute;
        top: calc(var(--height) - var(--depth) / 2);
        left: 50%;
        width: var(--width);
        height: var(--depth);
        transform: translate(-50%, -50%) rotateX(-90deg);
        transform-origin: 50% 100% 0;
}

/* right */
.cubed > div:nth-child(3){
        position: absolute;
        top: 50%;
        left: calc(var(--width) - var(--height) / 2);
        width: var(--height); 
        height: var(--depth);
        transform: translate(-50%, -50%) rotateY(90deg) rotate(-90deg) translate(50%, -50%);
        transform-origin: 100% 50% 0;
}

/* left */
.cubed > div:nth-child(4){
        position: absolute;
        top: 50%;
        left: calc(var(--height) / 2);
        width: var(--height); 
        height: var(--depth);
        transform: translate(-50%, -50%) rotateY(-90deg) rotate(90deg) translate(-50%, -50%);
        transform-origin: 0% 50% 0;
}

/*back*/
.cubed > div:nth-child(5){
        position: absolute;
        top: 50%;
        left: 50%;
        height:var(--height);
        width: var(--width);
        transform: translate(-50%, -50%) translateZ(var(--depth));
}


@keyframes debug {
        from {transform: perspective(100cm) rotate3D(1, 1, 1, 0deg);}
        to {transform: perspective(100cm) rotate3D(1, 1, 1, 360deg);}
}

.cubed > div{
        transform-style: preserve-3d;
        background-image: var(--img);
        background-color: var(--color);
        transform: perspective(100cm);
        background-size: 100% 100%;
}
