.world-content{
  .roof{
    transform: translateZ(var(--arg0));
    --img:url("../assets/images/wood.jpg");
    div:nth-child(1){
      transform: rotateX(45deg);
      width:var(--width);
      height:var(--height);
      top: 0px;
      left: 0px;
    }
    div:nth-child(2){
      transform: rotateX(-45deg);
      width:var(--width);
      height:var(--height);
      top: 0px;
      left: 0px;
    }
  }
  div{
    div{
      backface-visibility:hidden;
    }
  }
  .wall{
    --img:linear-gradient(#0000, #0007), url("../assets/images/bricks.jpg");
    div{
      image-rendering: pixelated;
      background-size: 100% 100%, 210px 210px;
    }
  }
  .pole{
    transform: translateZ(100px);
    --img:url("../assets/images/bricks.jpg");
    div{
      background-size:200px 200px;
    }
  }
    .Paper{
    background-color:green;
    --special: linear-gradient(#0001, #000a), url("../assets/images/wall.png");
  }
  .north {
    div:nth-child(2){
      background-image: var(--special);
    }
  }
  .west{
    div:nth-child(3){
      background-image: var(--special);
    }
  }
  .south{
    div:nth-child(1){
      background-image: var(--special);
    }
  }
  .east{
    div:nth-child(4){
      background-image: var(--special);
    }
  }
  .museum{
      /*animation: spin 8s linear infinite;*/
    div{
      background-color:green;
      background-image: linear-gradient(#0001, #000a), url("../assets/images/wall.png");
    }
    div:nth-child(3)::before{
      content: "";
      display:block;
      width:inherit;
      height:inherit;
      background-repeat: no-repeat;
      background-image:url("/assets/images/contact.gif");
    }
    div:nth-child(4)::before{
      content: "";
      display:block;
      width:inherit;
      height:inherit;
      background-repeat: no-repeat;
      background-image:url("/assets/images/hello.gif");
    }
    div:nth-child(5)::before{
      content: "";
      display:block;
      width:inherit;
      height:inherit;
      background-repeat: no-repeat;
      background-image:url("/assets/images/contact.gif");
    }
  }
}
@keyframes spin {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
