.world-content{
  .roof{
    transform: translateZ(var(--arg0));
    --img:url("../assets/images/wood.jpg");
    --roofImg:url("../assets/images/roof.jpg");
    --angle: 45deg;
    --overhang: 30px;
    --roofA: calc((var(--height) / 2 + var(--overhang)));
    div:nth-child(1){
      transform: rotateX(var(--angle));
      height: calc(var(--roofA) / cos(var(--angle)));
      width:calc(var(--width) + var(--overhang) * 2);
      left: calc(var(--overhang) * -1);
      top: calc(var(--overhang) * -1);
      backface-visibility: visible;
      background-image: var(--roofImg);
      background-size: 200px 200px;
    }
    div:nth-child(2){
      transform: rotateX(calc(-1 * var(--angle)));
      height: calc(var(--roofA) / cos(var(--angle)));
      bottom: calc(var(--overhang) * -1);
      top: initial;
      width:calc(var(--width) + var(--overhang) * 2);
      left: calc(var(--overhang) * -1);
      backface-visibility: visible;
      background-image: var(--roofImg);
      background-size: 200px 200px;
    }
    div:nth-child(3){
      height:calc(tan(var(--angle)) * var(--roofA));
      left: calc(var(--width) - var(--height) / 2 - var(--overhang));
      width:calc(var(--height) + var(--overhang) * 2);
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
    div:nth-child(4){
      height:calc(tan(var(--angle)) * var(--roofA));
      left: calc(var(--height) / 2 + var(--overhang));
      width:calc(var(--height) + var(--overhang) * 2);
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
  }
  div{
    div{
      backface-visibility:hidden;
    }
  }
  .wall{
    --img:linear-gradient(#0000, #0007), url("../assets/images/bricks.jpg");
    div{
      image-rendering: pixelated;
      background-size: 100% 100%, 210px 210px;
    }
  }
  .pole{
    --pHeight: 100px;
    transform: translateZ(var(--pHeight));
    --img:url("../assets/images/bricks.jpg");
    div{
      background-size:200px 200px;
    }
  }
  .window{
    --pHeight:100px;
    --img:url("../assets/images/bricks.jpg");
    --windowImage: url("../assets/images/window.png");
    div{
      background-size:200px 200px;
    }
    div:nth-child(5)::before{
      display:block;
      background-image: var(--windowImage);
      background-size: 100% 100%;
      height:60px;
      content:"";
    }
  }
    .window.horizontal div:nth-child(5)::before{
      width:var(--width);
      transform-origin: 0 0;
      transform:rotateX(90deg);
    }
    .window.vertical div:nth-child(5)::before{
      width:var(--height);
      transform-origin: 0 0;
      transform: rotateY(-90deg) rotate(-90deg) translateX(calc(-1 * var(--height)));
    }
    .Paper{
    background-color:green;
    --special: linear-gradient(#0001, #000a), url("../assets/images/wall.png");
  }
  .north {
    div:nth-child(2){
      background-image: var(--special);
    }
  }
  .west{
    div:nth-child(3){
      background-image: var(--special);
    }
  }
  .south{
    div:nth-child(1){
      background-image: var(--special);
    }
  }
  .east{
    div:nth-child(4){
      background-image: var(--special);
    }
  }
  .museum{
      /*animation: spin 8s linear infinite;*/
    div{
      background-color:green;
      background-image: linear-gradient(#0001, #000a), url("../assets/images/wall.png");
    }
    div:nth-child(3)::before{
      content: "";
      display:block;
      width:inherit;
      height:inherit;
      background-repeat: no-repeat;
      background-image:url("/assets/images/contact.gif");
    }
    div:nth-child(4)::before{
      content: "";
      display:block;
      width:inherit;
      height:inherit;
      background-repeat: no-repeat;
      background-image:url("/assets/images/hello.gif");
    }
    div:nth-child(5)::before{
      content: "";
      display:block;
      width:inherit;
      height:inherit;
      background-repeat: no-repeat;
      background-image:url("/assets/images/contact.gif");
    }
  }
}
@keyframes spin {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
