body{
  overflow: hidden;
  background-image:url("../assets/images/debug.png");
}
input{
  z-index: 1000;
}
.cameraRig *{
  overflow: visible !important;
}
.cameraRig{
  --fov: 15cm;
  --scaleFactor: 1;
  --moveX: -600px;
  --moveZ: -300px;
  --rotateAmount: 0deg;
  transform-style: preserve-3d;
  top:50%;
  left:50%;
  position:absolute;
  transition: transform 1s;
  transform: perspective(var(--fov)) translateZ(var(--fov)) rotateX(89deg) rotateZ(var(--rotateAmount));

  .cameraHolder{
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: 
      translateX(calc(var(--moveX))) 
      translateZ(var(--moveY)) 
      translateY(calc(var(--moveZ)));
    position:absolute;
    width: 2000px;
    height: 1000px;
    display: grid;
    background-color:green;
    grid-template-columns: auto auto;
  }
}

.door:hover{
  cursor: grab;
}

input:checked#door0 ~ div .d0{
  transform: rotateY(-120deg);
}

/*Move Properties*/
@property --moveX{
        syntax: "<length>";
        inherits: true;
        initial-value: 0px;
}
@property --moveY{
        syntax: "<length>";
        inherits: true;
        initial-value: -150px;
}
@property --moveZ{
        syntax: "<length>";
        inherits: true;
        initial-value: 0px;
}
