.cameraHolder {
  .floor.floor1{
    --cWidth:1000px;
    --cHeight:1000px;
    --cDepth:500px;
    .left{
      background-image: none;
      background-color: transparent;
      pointer-events: none;
      .doorway{
        background-image: url("../assets/images/doorframe.png");
        width:300px;
        height:100%;
        position:absolute;
      }
      .books{
        background-size:100px 100px;
        background-image: url("../assets/images/books.jpg");
        width:800px;
        height:100%;
        position:absolute;
        left:300px;
      }
      .door{
        pointer-events: auto;
        transform-style: preserve-3d;
        transition: transform 1s;
        display: block;
        position: absolute;
        width: 200px;
        height: 300px;
        left:50px;
        bottom: 0px;
        background-size: 100% 100%;
        background-image: url("../assets/images/door.png");
        transform-origin: 100% 0%;
        transform: rotateY(0deg);
      }
    }
  }
  .floor.floor2{
    --cWidth:1000px;
    --cHeight:1000px;
    --cDepth:500px;
    .right{
      display:none;
    }
  }
}
