.table.cubed{
  --cWidth:160px;
  --cHeight:300px;
  --cDepth:110px;
  --color:transparent; 
  --img: url("../assets/images/tableLegs.png");
  background-image: none;
  margin-left: 10px;
  margin-top: 100px;
  
  .woody{
    background-image: url("../assets/images/wood.jpg");
  }
  .keyboard{
    width: 100px;
    height: 25px;
    position: absolute;
    top: 45%;
    left: 60%;
    background-image: url("../assets/images/keyboard.webp");
    background-size: 100% 100%;
    transform: rotate(-90deg);
  }

  .computer.cubed{
    --cWidth: 50px;
    --cHeight: 50px;
    --cDepth: 6px;
    --img: radial-gradient(black, gray);
    position: absolute;
    left: 40%;
    top: 40%;

    .stand.cubed{
      position: absolute;
      left: calc(50% - 10px);
      top: calc(50% - 10px);
      --img: radial-gradient(lightgray, gray);
      --cWidth: 20px;
      --cHeight: 20px;
      --cDepth: 80px;

      .screenHolder.cubed{
        position: absolute;
        left: calc(50% - 60px);
        top: calc(50% - 55px);
        --img: radial-gradient(lightgray, gray);
        --cWidth: 120px;
        --cHeight: 90px;
        --cDepth: 10px;
        .screen{
          width: 800%;
          height: 800%;
          background-image: radial-gradient(gray, black);
          position: absolute;
          left: calc(50% - 400%);
          top: calc(50% - 400%);
          transform: scale(0.1);

          iframe{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
