.cameraHolder .floor{
  --img: linear-gradient(transparent, #000a), url("../assets/images/wall.png"), url("../assets/images/wallpaper.jpeg");
  --color: darkred;
  transform-style: preserve-3d;
  background-image: linear-gradient(#000a, #000a), url("../assets/images/wood.jpg");
  background-size:400px 400px;

  div{
    transform-style: preserve-3d;
    background-size:100% 100%, 300px 500px, 100px 100px;
    cursor-events: auto;
  }
  .roof{
    background-image: url("../assets/images/wood.jpg");
    mask: none;
  }
  .marker{
    top: calc(var(--posZ) - 50px);
    left: calc(var(--posX) - 50px);
    position:absolute;
    width:100px;
    height:100px;
    background-image:url("../assets/svgs/circle.svg");
    background-size:100px 100px;
    opacity:0.7;
  }
}
