
body{
        background-color: black;
}
.room{
        transform-style: preserve-3d;
        transform: rotateX(-35deg);
        perspective: 50cm;

        /*animation: spin 2s linear infinite;*/
}
.wall{
        transform-style: preserve-3d;
        background-image:url("../assets/images/wallpaper.jpeg");
        width: 2000px;
        height: 500px;
        position: absolute;
        top: 0px;
        left: 0px;
        transform-origin: 0% 100%;
        mask: linear-gradient(black, transparent);
}
.floor{
        background-image:url("../assets/images/wood.jpg");
        transform-style: preserve-3d;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 2000px;
        height: 400px;
        transform-origin: 0% 100%;
        transform: rotateX(-90deg);
}
.cubed.machine{
        animation: spin 2s ease infinite;
        top: 50%;
        left: 50%;
        transform: rotateY(180deg) translate(-50%, -50%);
        --cWidth:100px;
        --cHeight:100px;
        --cDepth:80px;
        --flipY:180deg;
        --img:url('../assets/images/wood.jpg');
}

.cubed.machine-upper{
        bottom: 0px;
        z-index: -100;
        --cWidth:98px;
        --cHeight:50px;
        --cDepth:120px;
        --img:url('../assets/images/wood.jpg');
        left: 1px;
}

.cubed.machine-lip{
        --cWidth: 98px;
        --cHeight: 30px;
        --cDepth: 22px;
        --img:url('../assets/images/wood.jpg');
}
@keyframes spin 
{
0% { transform: rotateY(180deg) rotate(-90deg);}
50% { transform: rotateY(180deg) rotate(90deg);}
100% { transform: rotateY(180deg) rotate(-90deg);}
}
.machine-left{
        background-image:url("../assets/images/gameMachine-side.png");
        background-size: 100% 100%;
        width: 100px;
        height: 200px;
        position: absolute;
        bottom:0px;
}
.machine-right{
        background-image:url("../assets/images/gameMachine-side.png");
        background-size: 100% 100%;
        width: 100px;
        height: 200px;
        position: absolute;
        bottom:0px;
        transform: matrix(
        -1, 0, 0, 1, 0, 0);
}

