:root {
        --degrees: calc(360deg / 5);
        --skyboxSize: 10000px;
}

.dMenu{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        transition: transform 1s;
        transform: perspective(100cm) rotate3d(0, 0, 0, var(--degrees));
}

body{
        background-color: lightblue;
        background-image: url("../assets/images/sky.jpg");
        overflow:hidden;
}

.dMenu label div{
        background-color: lightblue;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 400px;
}

.dMenu div{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
}

.dMenu label{
        position: absolute;
        opacity: 0.5;
        top: 100px;
        left: 0px;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 400px;
        background-color: red;
        transform-style: preserve-3d;
}

.gramCont{
        transform: rotateY(calc(var(--degrees) * -1));
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        display:block;
}
.article{
        transform: rotateY(calc(var(--degrees) * 1));
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        display:block;
}

.article img{
        width: 80px;
}

.article div{
        transform-style: preserve-3d;
        background-color: white;
        transform: translateY(-10px) rotateX(5deg);
        font-size:2px;
        width: 80px;
}

.article div p{
        margin: 2px;
}

.dMenu label:hover{
        opacity: 1;
        cursor:pointer;
}

.dMenu input:checked + iframe{
        display:inline;
}

.dMenu iframe{
        transition: size 1s;
        display:none;
}
.dMenu iframe:hover{
        height: 768px;
        width:1336px;
}
.dMenu label:nth-child(1){
        transform: rotateY(calc(var(--degrees) * 2));
}
.dMenu label:nth-child(2){
        transform: rotateY(calc(var(--degrees)));
}
.dMenu label:nth-child(3){
        transform: rotateY(0deg);
}
.dMenu label:nth-child(4){
        transform: rotateY(calc(var(--degrees) * -1));
}

.dMenu label:nth-child(5){
        transform: rotateY(calc(var(--degrees) * -2));
}

input{
        z-index: 100;
}


input:checked#menu1 ~ .dMenu{
        transform: perspective(100cm) rotateY(calc(var(--degrees) * -2));
}
input:checked#menu2 ~ .dMenu{
        transform: perspective(100cm) rotateY(calc(var(--degrees) * -1));
}
input:checked#menu3 ~ .dMenu{
        transform: perspective(100cm) rotate3d(0, 0, 0, var(--degrees));
}
input:checked#menu4 ~ .dMenu{
        transform: perspective(100cm) rotate3d(0, 1, 0, var(--degrees));
}
input:checked#menu5 ~ .dMenu{
        transform: perspective(100cm) rotateY(calc(var(--degrees)*2));
}

div.ground{
        transform:rotateX(90deg) translateZ(-250px) translateY(-200px) translateX(-400px);
        width: 1000px;
        height: 1000px;
        background-color:green;
        transform-origin: 50% 0% 0px;
        background-image: url("../assets/images/grass.jpeg");
}

img.future{
        position: absolute;
        transform: translateY(-140px);
        left: 0px;
        transform-style: preserve-3d;
            animation-name: float;
            animation-duration: 2s;
	animation-iteration-count: infinite;
}

.floater{
        position: absolute;
        left: 0px;
        top: 0px;
        animation-name: float2;
            animation-duration: 2s;
	animation-iteration-count: infinite;
        
}
@keyframes float2{
        0% {transform: translateY(-0px);}
        50% {transform: translateY(-20px);}
        100% {transform: translateY(-0px);}
}

@keyframes float{
        0% {transform: translateY(-140px);}
        50% {transform: translateY(-160px);}
        100% {transform: translateY(-140px);}
}

.skybox{
        transform-style: preserve-3d;
        transform: translate3d(calc(var(--skyboxSize) / -2), calc(var(--skyboxSize) / -2), calc(var(--skyboxSize) / -2)) 
}

.skybox div{
        transform-origin: 50% 50% calc(var(--skyboxSize) / 2);
        background-image: url("../assets/images/sky.jpg");
        height: var(--skyboxSize);
        width: var(--skyboxSize);
        background-size: 100% 100%;
}

.skybox div:nth-child(1){
        transform: rotateY(90deg);
}
.skybox div:nth-child(2){
        transform: rotateY(-90deg);
}
.skybox div:nth-child(3){
        transform: rotateY(180deg);
}
.skybox div:nth-child(4){
}
.skybox div:nth-child(5){
        transform: rotateX(90deg);
}
.skybox div:nth-child(6){
        transform: rotateX(-90deg);
}
