:root {
        --degrees: calc(360deg / 5);
        --skyboxSize: 10000px;
        --spin: 0;
}

.dMenu{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        transition: transform 1s;
        transform: perspective(100cm) rotateY(calc(var(--degrees) * var(--spin)));
}

body{
        background-color: lightblue;
        background-image: url("../assets/images/sky.jpg");
        overflow:hidden;
}

.dMenu > label div:nth-child(1){
        background-color: lightblue;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 400px;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0px;
        z-index: 100;
        left: 0px;
}
.dMenu > label div:nth-child(2){
        background-color: lightblue;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 400px;
        width: 100px;
        height: 100px;
        opacity: 0.5;
        filter: blur(10px);
        position: absolute;
        top: 0px;
        left: 0px;
}

.dMenu div{
        position: absolute;
        transform-style: preserve-3d;
}

.dMenu > label{
        position: absolute;
        opacity: 0.5;
        top: 100px;
        left: 0px;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 400px;
        background-color: red;
        transform-style: preserve-3d;
}

.gramCont{
        transform: rotateY(calc(var(--degrees) * -1));
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        display:block;
}

.compTainer{
        transform: rotateY(calc(var(--degrees) * -2));
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        position: absolute;
        left: 100%;
}
.article{
        transform: rotateY(calc(var(--degrees) * 1));
        transform-origin: 50% 50% 400px;
        transform-style: preserve-3d;
        display:block;
}

.article img{
        width: 80px;
}

.article div{
        transform-style: preserve-3d;
        background-color: white;
        transform: translateY(-10px) rotateX(5deg);
        font-size:2px;
        width: 80px;
}

.article div p{
        margin: 2px;
}

.dMenu label:hover{
        opacity: 1;
        cursor:pointer;
}

.dMenu input:checked + iframe{
        display:inline;
}

.dMenu label:nth-child(1){
        transform: rotateY(calc(var(--degrees) * 2));
}
.dMenu label:nth-child(2){
        transform: rotateY(calc(var(--degrees)));
}
.dMenu label:nth-child(3){
        transform: rotateY(0deg);
}
.dMenu label:nth-child(4){
        transform: rotateY(calc(var(--degrees) * -1));
}

.dMenu label:nth-child(5){
        transform: rotateY(calc(var(--degrees) * -2));
}

input{
        z-index: 100;
}


input:checked#menu1 ~ div{
        --spin: -2;
}
input:checked#menu2 ~ div{
        --spin: -1;
}
input:checked#menu3 ~ div{
        --spin: 0;
}
input:checked#menu4 ~ div{
        --spin: 1;
}
input:checked#menu5 ~ div{
        --spin: 2;
}
input:checked#menu5 ~ .dMenu{
        transform: perspective(100cm) rotateY(calc(var(--degrees)*2)) translateY(25px) translateZ(-2750px) translateX(-2000px);
}

div.ground{
        transform:rotateX(90deg) translateZ(-250px) translateY(-200px) translateX(-400px);
        width: 1000px;
        height: 1000px;
        background-color:green;
        transform-origin: 50% 0% 0px;
        background-image: url("../assets/images/grass.jpeg");
}

img.future{
        position: absolute;
        transform: translateY(-140px);
        left: 0px;
        transform-style: preserve-3d;
            animation-name: float;
            animation-duration: 2s;
	animation-iteration-count: infinite;
}

.floater{
        position: absolute;
        left: 0px;
        top: 0px;
        animation-name: float2;
            animation-duration: 2.5s;
	animation-iteration-count: infinite;
        
}
@keyframes float2{
        0% {transform: translateY(-0px);}
        50% {transform: translateY(-20px);}
        100% {transform: translateY(-0px);}
}

@keyframes float{
        0% {transform: translateY(-140px);}
        50% {transform: translateY(-160px);}
        100% {transform: translateY(-140px);}
}


.sky{
        background-image: linear-gradient(black, indigo, darkviolet, orange, lightgreen, powderblue, lightblue, powderblue, lightgreen, orange, darkviolet, indigo, black); /*url("../assets/images/sky.jpg");*/
        background-size: 1500% 1500%;
        background-position: calc(var(--spin) * 400%) 0%;
        width: 101%;
        height: 101%;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: background-position;
        transition-duration: 1s;

        /*DAY NIGHT ANIMATION (:*/
        animation-name: day-cycle;
        animation-duration: 68400s; 
        animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.sky div{
        background-image: url("../assets/images/sky.jpg");
        background-position: calc(var(--spin) * 400%) 0%;
        width: 101%;
        height: 101%;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: background-position;
        transition-duration: 1s;
        opacity: 0.15;
}


@keyframes day-cycle{
        0%   {background-position: calc(var(--spin) * 400%) calc(0% +   (4.166% * var(--timeset)));}
        100% {background-position: calc(var(--spin) * 400%) calc(101% + (4.166% * var(--timeset)));}
}


