.dMenu{
        position: relative;
}

.dMenu > div{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 100px;

}

.dmenu div:nth-child(1){
        transform: rotateY(40deg);
}
.dmenu div:nth-child(2){
        transform: rotateY(20deg);
}
.dmenu div:nth-child(3){
        transform: rotateY(0deg);
}
.dmenu div:nth-child(4){
        transform: rotateY(-20deg);
}
