/*left*/
.comp > div:nth-child(1){
        transform: rotateY(90deg);
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/crt-side.png");
}
.comp > div:nth-child(1) > div{
        top: 50%;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(grey, lightgray);
        transform:  translate(-50%, -50%) translateZ(var(--scWidthOff));
}

/*right*/
.comp > div:nth-child(2){
        transform: rotateY(-90deg);
        background-image: url("../assets/images/crt-side.png");
}
.comp > div:nth-child(2) > div{
        top: 50%;
        left: 100%;
        background-image: radial-gradient(grey, lightgray);
        transform:  translate(-50%, -50%) translateZ(var(--scWidthOff));
}

/*front*/
.comp > div:nth-child(3){
        transform: rotateY(180deg);
}
.comp > div:nth-child(3) > div{
        top: 50%;
        left: 50%;
        background-image: radial-gradient(grey, lightgray);
        transform:  translate(-50%, -50%) translateZ(calc((var(--scDepth) * -0.5)));
}
/*back*/
.comp > div:nth-child(4){
}

/*bottom*/
.comp > div:nth-child(5){
        bottom: 0px;
        transform: rotateX(270deg) translateZ(calc(var(--compHeight) - var(--compWidth)));
        transform-origin: 50% 100%;

}
.comp > div:nth-child(5) > div:nth-child(1){
        top: 0%;
        left: 50%;
        background-image: radial-gradient(grey, lightgray);
        transform:  translate(-50%, -50%) translateZ(var(--scHeightOff));
}
