@font-face {
  font-family: myFont; /* set name */
  src: url(../assets/fonts/AngloText.ttf); /* url of the font */
}

body > div{
        margin-left: 10%;
        margin-right: 10%;
        background-color:white;
        margin-top: 0px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 20px;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
}
body > div.main2{
        padding-bottom: 20px;
}

:root{
  background-color: black;
}

body div.heade{
        background-image: linear-gradient(to bottom, red, yellow);
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  margin-left: 0px;
  margin-right: 0px;
}

.main {
  padding-bottom: 500px;
  a{
        display:block;
  }
  a::first-letter{
            font-size:2em;
  }
}
.main2 {
  margin-top: 10px;
  p::first-letter{
          font-size:4em;
          float:left;
          font-family: myFont;
  }
  p{
        text-align: justify;
  }
  .left{
        margin-right: 10px;
        float:left;
  }
  .right{
        margin-left: 10px;
        float:right;
  }
}

.heade p{
        margin: 0px;
        margin-left: 40px;
        color:black;
}
.heade div{
        width: 100%;
}
body {
  margin: 0px;
        background-color:lightgray;
        background-image: linear-gradient(to bottom right, lightgray, gray);
}
.marquee{
  border:2px outset black;
  height: 1pt;
  margin-left: 0px;
  margin-right: 0px;
  white-space: nowrap;
  overflow:hidden;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 0.1;
  div{
    width: fit-content;
    animation: marquee 10s linear infinite;
    height: 1pt;
    margin:none;
  }
  margin-bottom: 10px;
}
.bottom{
  height: 300px;
  background-image: linear-gradient(transparent, black, black, black);
  background-color: transparent;
  margin: 0px;
  padding-left:10px;
  margin-top: 100px;
  div{
    p{
      font-size: 13px;
      text-shadow: white 1px 0 10px;
    }
    height: 60%;
    position:relative;
    top: 40%;
    color: white;
  }
}

@keyframes marquee{
  0%{transform: translateX(0%)};
  100%{transform: translateX(-33.33%)};
}
